svg {
  background: white;
}
.country {
  fill: #333333;
  stroke: #cccccc;
  stroke-width: 0.5;
}
.targeted {
  fill: grey;
}
.selected {
  fill: red;
}
div.text-container {
  position: fixed
}
.fixed {
  position: fixed;
}
.previousTarget {
  fill: blue;
}