svg {
  background: white;
}
.unit {
  fill: #333333;
  stroke: #cccccc;
  stroke-width: 0.5;
}
.targeted {
  fill: grey;
}
.wrong {
  fill: red;
}
div.text-container {
  position: fixed
}
.fixed {
  position: fixed;
  top: 0px;

}
.previousTarget {
  fill: blue;
}

h4 {
  margin: 0 5px;
  color: orange;
}

button {
  margin: 0;
}